*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: grid;
  background-color: var(--color-background);
}

main{
  margin-top: var(--header-height);
  width: 100vw;
}

.gallery-container{
  box-shadow: inset 0px 0px 5px 2px var(--color-shadow);
}

.h1-gallery {
  font-family: var(--font-title);
  font-size: 2.5em;
  margin: auto 0 0 0;
  padding: 1.5rem var(--padding-small);
  color: var(--font-color-light);
  background-color: var(--color-dark);
}

.gallery {
  padding-inline: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.breadcrumbs-text{
  padding: 2rem var(--padding-small) 0.5rem;
  display: flex;
  justify-content: flex-start;
}

.breadcrumb-item{
  color: var(--color-brown-accent);

}
.breadcrumb-item::after{
  content: "/";
  margin: 0 10px;
  color: lightgrey;
}

.breadcrumb-active{
  color: var(--color-accent);
  font-weight: 500;
}

button{
  width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin: 0 auto;
  border: 1px solid var(--color-dark);
  border-radius: 5px;

  font-size: 16px;
}

.ul-gallery {
  display: none;
  width: 90vw;
  text-align: center;
}

.categories{
  display: none;
}

.a-gallery {
  display: block;
  color: var(--font-color-dark);
  font-weight: 500;
  transition: 300ms ease;
  width: 100%;
  background-color: var(--color-shadow);
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-bottom: 0.5px solid var(--color-background);
}

.a-gallery:active{
  background-color: var(--color-dark);
  color: var(--font-color-light);
}

.show{
  display: block;
}

.gallery-items {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  text-align: left;
}

.card {
  color: var(--font-color-light);
  font-family: sans-serif;
  
  padding: 10rem 0 0;
  width: 280px; 
  height: 350px;
  border-radius: 1rem; 
  overflow: hidden; 

  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

#card0{
  background: url('/images/Black.jpg');
  background-size: cover;
}
#card1{
  background: url('/images/Cascada.jpg');
  background-size: cover;
}
#card2{
  background: url('/images/Elegante.jpg');
  background-size: cover;
}
#card3{
  background: url('/images/Especial.jpg');
  background-size: cover;
}
#card4{
  background: url('/images/Marrocan.jpg');
  background-size: cover;
}
#card5{
  background: url('/images/Naked.jpg');
  background-size: cover;
}
#card6{
  background: url('/images/Playera.jpg');
  background-size: cover;
}
#card7{
  background: url('/images/Pure-white.jpg');
  background-size: cover;
}

.card-content {
  --padding: 1.5rem; 
  padding: var(--padding);
  line-height: 1.6;
  background: linear-gradient(
     rgba(0, 0, 0, 0),
     rgba(0, 0, 0, 0.2) 10%,
     rgba(0, 0, 0, 0.8)
  );
  transform: translateY(65%);
}


@media screen and (min-width:1000px) {

  .breadcrumbs-text{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .gallery{
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .ul-gallery{
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 1rem;
    width: auto;
  }

  button {
    display: none;
  }
  
  .categories {
    display: block;
    text-transform: uppercase;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }

  .a-gallery{
    background: none;
    text-align: left;
    display: block;
    width: 150px;
    padding: 1rem;
    margin-left: 3rem;
    transition: 300ms ease;
  }

  .a-gallery:hover {
    background-color: var(--color-accent);
    color: var(--font-color-light);
    cursor: pointer;
    border-radius: 5px;
  }

  .a-gallery:target{
    text-decoration: underline;
  }
  
  @media (hover) {
    .card-content {
       transform: translateY(85%);
       transition: transform 500ms ease;
    }
  
    .card:hover .card-content,
    .card:focus-within .card-content {
       transform: translateY(2%);
    }
  
    .card:focus-within .card-content {
       transition-duration: 0ms;
    }
  
    .card-content > *:not(.card-title) {
       opacity: 0;
       transition: opacity 500ms linear;
    }
  
    .card:hover .card-content > *:not(.card-title),
    .card:focus-within .card-content > *:not(.card-title) {
       opacity: 1;
    }
  
    .card-title::after {
       transform: scaleX(0);
    }
  }
  
  .card-title {
    position: relative;
    width: max-content;
  }
  
  .card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + var(--padding));
    background-color: var(--color-accent);
    left: calc(var(--padding) * -1);
    bottom: 0;
  
    transform-origin: left;
    transition: transform 500ms ease;
  }
  
  .card:hover .card-title::after,
  .card:focus-within .card-title::after {
    transform: scaleX(1);
  }

}