:root {
   --background-color: rgba(247, 246, 246, 1);
   --footer-color: #60014a;
   --shadow-color: rgba(135, 109, 91, 0.5);
   --title-color: rgba(60, 42, 30, 1);
   --button-color: rgba(157, 68, 146, 1);
   --brown-accent-color: rgba(193, 162, 141, 1);
}

* {
   margin: 0;
   padding: 0;
}

body {
   background-color: var(--background-color);
}

.hero-img {
   height: 100vh;
   right: 0;
   top: 2rem;
   z-index: -1;
}

.icons {
  width: 10%;
}
