/*---------------------------------CINTIA---------------------------------*/

:root {
   --font-text: "Montserrat", sans-serif;
   --font-size-title: 3rem;

   --title-color: rgb(255, 255, 255);
   --title-color-logo: rgba(60, 42, 30, 1);
   --subtitle-color: rgb(255, 255, 255);
   --subtitle-color-span: rgba(60, 42, 30, 1);

   --background-color: rgb(247, 246, 246);
   --background-color-nav: rgba(247, 246, 246, 0.8);

   --shadow-color: rgba(135, 109, 91, 0.5);
   --brown-accent-color: rgba(193, 162, 141, 1);

   --button-background-color: rgb(96, 1, 74);
   --button-font-color: rgb(255, 255, 255);
   --button-font-size: 0.75rem;

   --footer-background-color: rgb(96, 1, 74);
   --footer-font-color: rgb(247, 246, 246);
}

body {
   position: absolute;
   margin: 0;
   padding: 0;
   display: grid;
   grid-template-columns: 1Fr;
   background-color: var(--background-color);
   font-family: var(--font-text);
   box-sizing: border-box;
}

.container {
   position: relative;
   margin: 1.5em;
}

a {
   text-decoration: none;
}

/*--------------------------------------------HEADER--------------------------------------------*/

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   /* margin: 0 1.5em; */
   padding: 1em 0;
   background-color: var(--background-color-nav);

   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-content: center;
   z-index: 5;
}

header .logo {
   color: var(--title-color-logo);
   margin-left: 1.5em;
}

header i {
   color: rgb(96, 1, 74);
   margin-right: 1em;
   cursor: pointer;
}

nav {
   display: none;
}

nav a {
   font-size: 1.3rem;
}

.fa-circle-xmark {
   display: none;
}

/*-----------------------------------------FINAL HEADER-----------------------------------------*/

/*-----------------------------------------MAIN:HERO-----------------------------------------*/

.hero-img {
   position: absolute;
   top: 4em;
   left: 0;
   width: 100%;
   height: 90vh;
   background: url("../images/tortas-2.jpg");
   background-size: cover;
   /* background-position-y: 30%; */
   z-index: -100;
   transform: scaleX(-1);
}

main.hero {
   color: var(--title-color);
   text-shadow: 1px 1px 2px var(--shadow-color); /*x y blur color*/
   margin-top: 5em;
   text-align: left;
   height: 95vh;
   /* padding: 5em; */
}

h1 {
   font-size: var(--font-size-title);
   font-family: "Dancing Script", cursive;
   line-height: 3rem;
   margin: 1rem 0;
}

main p {
   position: relative;
   /* bottom: 2em; */
   /*------------------------ Al usar bottom desaparece el texto------------------------ */
   margin-top: 12rem; /*--------------------Solución temporal--------------------*/
   font-size: 0.75rem;
   color: var(--subtitle-color);
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
   line-height: 1rem;
}

main p span {
   color: var(--subtitle-color-span);
   text-shadow: 1px 1px 2px var(--brown-accent-color);
}

.btn-hero {
   position: relative;
   bottom: -1em;
   align-self: center;
   background-color: var(--button-background-color);
   color: var(--button-font-color);
   font-size: var(--button-font-size);
   border: none;
   border-radius: 5px;
   padding: 0.5rem 1rem;
   box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

/* .fa-angles-down {
   position: absolute;
   bottom: 3em;
   left: 0;
   color: var(--subtitle-color);
} */

.icons {
   width: 10%;
}
/* ---------------------------------------FINAL MAIN:HERO--------------------------------------- */

/* --------------------------------------SECTION: PRODUCTOS-------------------------------------- */
.section-title {
   display: none;
}

.icons-products {
   display: grid;
   grid-template-columns: repeat(4, 1Fr);
   gap: 5px;
}

.icons-products img {
   width: 75%;
}

.ver-mas-products {
   display: none;
}

.cards-products {
   display: none;
}

footer {
   background-color: var(--footer-background-color);
   color: var(--footer-font-color);
}

.footer-small-text {
   font-size: 0.5em;
}

/*-----------------------------FINAL CINTIA-----------------------------*/
