/* ---------------------FLAVIA MICAELA SANDOVAL--------------------- */

.container{
     align-items: center;
     align-self: center;
     align-content: center;
     text-align: center;
     background-color:  #e8e5d4;
     
}
.volver{
     padding: 3rem;
}
